doctype html
html(lang="en")
  head
    title='facebook success'
    style.
      body {
        background-color: #2c3e50;
      }

      .container {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 60px;
        right: 0;
        margin: auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .sk-double-bounce {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 40px auto; }
        .sk-double-bounce .sk-child {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: #fff;
          opacity: 0.6;
          position: absolute;
          top: 0;
          left: 0;
          -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
                  animation: sk-doubleBounce 2s infinite ease-in-out; }
        .sk-double-bounce .sk-double-bounce2 {
          -webkit-animation-delay: -1.0s;
                  animation-delay: -1.0s; }

      @-webkit-keyframes sk-doubleBounce {
        0%, 100% {
          -webkit-transform: scale(0);
                  transform: scale(0); }
        50% {
          -webkit-transform: scale(1);
                  transform: scale(1); } }
      @keyframes sk-doubleBounce {
        0%, 100% {
          -webkit-transform: scale(0);
                  transform: scale(0); }
        50% {
          -webkit-transform: scale(1);
                  transform: scale(1); } }

  body
    .container
      .sk-double-bounce
        .sk-child.sk-double-bounce1
        .sk-child.sk-double-bounce2

    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/core-js/2.1.4/core.min.js')
    script(type='text/javascript', src='//npmcdn.com/feathers-client@^1.0.0/dist/feathers.js')
    script(type='text/javascript').
      var host = "#{apiUrl}";
      var app = feathers()
      .configure(feathers.rest(host).jquery(jQuery))
      .configure(feathers.hooks())
      .configure(feathers.authentication({ storage: window.localStorage }));

      app.authenticate().then(function(result){
        // TODO if not cordova, if not cordova, redirect to success page
      }).catch(function(error){
        // TODO if not cordova, redirecto to error page
      });
